<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8" />
    <style>
        img {
            width: 50%;
        }
    </style>
    </head>
    <body>
        <nav>
	    <a href="index.html">Inicio</a> |
	    <a href="acerca-de.html">Acerca de</a> |
	    <a href="saludos.html">Saludos</a>
	</nav>
	<hr />
	<h2>Saludos personalizados</h2>
    <p>Hola ... te invito una birria!</p>
    <img src="https://cdn.foodandwineespanol.com/2021/09/birria-principal.jpg" alt="birria" />
	<p>¡Quiero!</p>
	<hr />
    </body>
</html>
